{% extends 'cecc/base.html' %}
{% load static %}

{% block content %}
<div id="leftcontent">
    <div class="section"><div>
        <h1 class='ttext'>Children's Edu-Care History</h1>
        <p>Since 1986, Children's Edu-Care Centers have been meeting the child care needs of families in St. Peters and the surrounding area.  Fundamental to our philosophy is the position taken by all staff..... that they are the extended family of the client served.</p>
        <p>Children's Edu-Care believes that learning opportunities for young children must be appropriate to the age and stage of the child, along with the child's expressed interest.  Especially in early childhood, our approach is child initiated, child directed and teacher supported.</p>
        <p>Children's Edu-Care supports the fact that true learning takes place when the child learns at his or her own pace, when given the opportunity to explore an exciting environment created exclusively for instruction, self discovery and recreation.</p>
        <p>You can <a href="/contact-us">Schedule a Tour</a> online or call us anytime between 6:00am - 6:30pm.  We look forward to hearing from you!</p>
    </div></div>
</div>
{% endblock %}