{% extends 'cecc/base.html' %}
{% load static %}

{% block content %}

<br>

<form method="POST" action="{% url 'sign' %}">
    {% csrf_token %}
    <table class="vis">
        <tr>
            <center>
                <th>Enter Password:</th>
            </center>
        </tr><tr>
            <td>
                {{ form.passwordf }}
            </td>
        </tr><tr>
            <td>
                <center>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </center>
            </td>
        </tr><tr>
            <td style='color: red'>
                {{ error }}
            </td>
        </tr>
    </table>
</form>

{% endblock %}
