{% extends 'cecc/base.html' %}
{% load static %}

{% block content %}
<div id="leftcontent">
    <div class='section'><div>
        <h1>Children's Montessori</h1>
        <h1 class='ttext'>Pre-School and Daycare Programs</h1>
        <p>Children's Edu-Care centers offer full or part time infant, toddler, and pre-school programs and school age daycare at our child care facilities Monday through Friday, 6:00am to 6:30pm.</p>
        <p><strong><strong>We offer the following pre-school and daycare programs led by degreed, experienced teachers</strong>:</strong></p>
    </div></div>
    <div class='section' style="background-color: #faf">
        <div>
            <h2>Mid Rivers Day Care  6:00am - 6:30pm<br /></h2>
            <p><strong>Cuddle Care</strong><br />Personal, caring attention <strong>infant through two years</strong></p>
            <p><strong>Kinder-Prep</strong><br />Traditional pre-school and PreK <strong>three through six years</strong></p>
        </div>
    </div>
    <div class="section" style="background-color: #4eb">
        <div>
            <h2>Children's Edu-Care Center  6:00am - 6:30pm<br /></h2>
            <p><strong>The Academy</strong><br />Montessori Primary <strong>two and a half through six years</strong> <br /><br /><strong>Kindergarten</strong><br />Preparing for elementary <strong>five through six years</strong> <br /><br /><strong>Kountry Klub</strong><br />Before/after school, days off daycare <strong>six through twelve years</strong> <br /><br /><strong>Kountry Kamp</strong><br />Summer camp <strong>six through twelve years</strong></p>
            <p> </p>
        </div>
    </div>
    <div class="section">
        <div>
            <p>Breakfast, lunch and afternoon snack follow USDA guidelines and are monitored by the Missouri Department of Health.</p>
            <p>You can <a href="/contact-us">Schedule a Tour</a> online or call us anytime between 6:00am - 6:30pm.  We look forward to hearing from you!</p>
        </div>
    </div>
</div>
{% endblock %}