{% extends 'cecc/base.html' %}
{% load static %}

{% block content %}
<div id="leftcontent">
    <h1 class='ttext'>Children's Edu-Care Video Testimonial</h1>
    <p> </p>
    <iframe width="560" height="420"  style="margin-left: 60px" src="https://www.youtube.com/embed/iUKQ4aw_WZs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p> </p>
    <p>We have open observation of <strong>Children's Edu-Care Center</strong> and <strong>Mid Rivers Day Care </strong> from 6:00am to 6:30pm M-F.  You can also <a href="/contact-us">Schedule a Tour</a> for a convenient time to see which Children's Edu-Care Center is the perfect fit for your family.  We look forward to hearing from you!</p>
</div>
{% endblock %}