{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Jeopardy Game">
    <meta name="author" content="01as">
    <link href="{% static 'cecc/jeopardytheme.css' %}" rel="stylesheet">
    <script src="{% static 'cecc/jeopardyfunctions.js' %}"></script>
    <link href="//db.onlinewebfonts.com/c/266e4c01b92d0ac2707aa145f839e9bb?family=Swiss911W01-Compressed" rel="stylesheet" type="text/css"/>
    <link rel="icon" href="{% static 'ceccimages/favicon.ico' %}">

    <script src="{% static 'jscript/jquery-3.6.3.min.js' %}"></script>

    <link href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.min.css" rel="stylesheet">
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>


    <title>Jeopardy Games</title>


    <body>

        <div style='text-align: center'>
            <img src="{% static 'ceccimages/jeopardy.svg' %}" class='jheader'>
        </div>

        <div class='topper'>
            <table style='width: 100%; max-width: 1000px; margin: auto'>
                <tr style='background-color: #000088;'>
                    <th colspan='5'>
                        <h1 style=' color: #ffbb00; padding: 0px; margin: 0px;'>Games</h1>
                    </th>
                </tr>
                <tr>
                    <th style='width: 10%'></th>
                    <th style='width: 30%'>
                        <input id='newname' placeholder='Game Name' style='width: 90%; background-color: #4444ff; border: none; padding: 0.5vw; font-size: 1.5vw; color: #ffffff'>
                    </th>
                    <th style='width: 30%'>
                        <input id='newcreator' placeholder='Creator' style='width: 90%; background-color: #4444ff; border: none; padding: 0.5vw; font-size: 1.5vw; color: #ffffff'>
                    </th>
                    <th style='width: 20%'>
                        <button onclick='creategame()'>CREATE</button>
                    </th>
                    <th style='width: 10%'></th>
                </tr>
            </table>
            <table class='menu' id='menu' class='display' style='width: 100%'>
                <thead>
                    <tr style='background-color: #000088;'>
                        <th>
                            <h1 style=' color: #ffbb00; padding: 0px; margin: 0px;'></h1>
                        </th>
                        <th>
                            <h1 style=' color: #ffbb00; padding: 0px; margin: 0px;'>Name</h1>
                        </th>
                        <th>
                            <h1 style=' color: #ffbb00; padding: 0px; margin: 0px;'>Creator</h1>
                        </th>
                        <th>
                            <h1 style=' color: #ffbb00; padding: 0px; margin: 0px;'>Created</h1>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>


        <script>

        var encoded_data = [
            {% for g in games %}
                {
                    "game": "{{ g.gname }}",
                    "creator": "{{ g.creator }}",
                    "created": "{{ g.created.isoformat }}"
                }{% if not forloop.last %},{% endif %}
            {% endfor %}
        ]

        function format(d){
            return ('<table style="width:100%"><tr><td><a href="http://01as.pythonanywhere.com/jeopardy/create_game/' + d.game + '"><button>EDIT</button></a></td><td><a href="http://01as.pythonanywhere.com/jeopardy/play/' + d.game + '"><button>PLAY</button></a></td><td><a><button>DELETE</button></a></td></tr></table>')
        }


        $(document).ready(function () {
            var table = $('#menu').DataTable({
                data: encoded_data,
                columns: [
                    {
                        className: 'dt-control',
                        orderable: false,
                        data: null,
                        defaultContent: '',
                    },
                    {
                        title: 'game',
                        data: 'game',
                        defaultContent: ''
                    },
                    {
                        title: 'creator',
                        data: 'creator',
                        defaultContent: ''
                    },
                                        {
                        title: 'created',
                        data: 'created',
                        defaultContent: ''
                    }
                ]
            });

            $('#menu tbody').on('click', 'td.dt-control', function () {
                var tr = $(this).closest('tr');
                var row = table.row(tr);

                if (row.child.isShown()) {
                    row.child.hide();
                    tr.removeClass('shown');
                } else {
                    row.child(format(row.data())).show();
                    tr.addClass('shown');
                }
            });
        });

        </script>
    </body>
</html>