{% extends 'oscarsapp/oscbase.html' %}'
{% load static %}
{% block title %}Chart{% endblock %}
{% block stylelinks %}<link href="{% static 'cecc/oscartheme.css' %}" rel="stylesheet">{% endblock %}
{% block styles %}

#alnk {
{% endblock %}
{% block content %}
<div role="main">
    <table class='bigchart'>
        <tr>
            <th>Category</th>
            <th>Winner</th>
            {% for b in ballots %}
                <th colspan='2' style='background-color: {{ b.kulr }}'>{{ b.name }}</th>
            {% endfor %}
        </tr>
        {% for c in categories %}
            <tr>
                <th>{{ c.name }}</th>
                <td>{{ c.winner.nominee.name }}</td>
                {% for b in ballots %}
                    {% for p in b.pick_set.all %}
                        {% if p.nomination.category == c %}
                            <td {% if p.nomination == c.winner %} style='color:{{ wincolor }}'{% endif %}>
                                {% if not b.hidden or b.user == user or not wizard.active %}{{ p.nomination.nominee.name }}{% endif %}
                                {% if p.hidden and wizard.active %}<b>SECRET</b>{% endif %}
                            </td>
                            <td>
                                {% if p.nomination == c.winner %}<p>+{{ c.points }}</p>{% endif %}
                            </td>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tr>
        {% endfor %}
        <tr>
            <th>Total Score</th>
            <th> </th>
            {% for b in ballots %}
                <th style='text-align: right'>Total: </th>
                <th>{{ b.skore }}</th>
            {% endfor %}
        </tr>
    </table>
    </div>
{% endblock %}