{% extends 'oscarsapp/oscbase.html' %}
{% load static %}

{% block content %}

<style>

    body {
        background-color: #000000;
        color: #ffffff;
    }

    .boundary {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .showbox {
        background-color: #807000;
        padding: 5px;
        height: 50px;
        overflow: hidden;
        transition: height 1s;
    }

    .showbox button {
        padding: 10px;
        border: none;
        background-color: #8888ff;
        color: #ffffff;
    }

    .expanded {
        height: 170px;
    }

    h3 {
        text-align: center;
    }
</style>

<div class='boundary'>
    <div id='signup' class="showbox">
        <div onclick="expand('signup')">
            <h3 >Sign Up</h3>
        </div>
        <form class="form-signin" method="POST" action="create_user">
            {% csrf_token %}
            <center>
                Access Code: <input type='text' name='code'></input><br>
                Name: <input type='text' name='username'></input><br>
                Password: <input type='text' name='password'></input><br>
                Retype Password: <input type='text' name='repassword'></input><br>
                <button type='submit'>Enter</button>
            </center>
    </div>
    <p> </p>
    <div id='login' class="showbox">
        <div>
            <h3 onclick="expand('login')">Log In</h3>
        </div>
        Name: <input type='text'></input><br>
        Password: <input type='text'></input><br>
        <center>
            <button type='submit'>Enter</button>
        </center>
    </div>
</div>


<script>
    function expand(evt){
        document.getElementById(evt).classList.toggle('expanded')
    }
</script>


{% endblock %}



