{% extends 'oscarsapp/oscbase.html' %}
{% load static %}
{% block title %}Enter Your Picks{% endblock %}
{% block styles %}
    #clnk {
{% endblock %}
{% block content %}


<div class="container">

    <span style="background-color: #B7A261; padding: 5px 10px; font-size: 30px; cursor: pointer; position: sticky; top: 0px;" onclick="openNav()">Nav</span>

    <div id='side_nav' style='text-align: center; position: fixed; z-index: 1; top: 0px; width: 200px; height: 100%; background-color: #B7A261; transform: translate(-100%, 0%); padding: 10px; left: 0px; transition: 0.5s'>
        <span href="javascript:void(0)" class="closebtn" onclick="closeNav()" style='font-size: 30px; cursor: pointer; position: absolute; top: 0; right: 10px;'>&times;</span>

        <a href='#top'>Top</a><br>
        {% for c in cats %}
            <a href='#{{ c.shortname }}'>{{ c.name }}</a><br>
        {% endfor %}
    </div>

    <form class="form-signin" method="POST" action="{% url 'submitballot' version %}" onclick="closeNav()">
        {% csrf_token %}
        <div class="form-group" style='margin: 0px'>
            <center>
                <p>You can edit your ballot after submitting</p>
                <p>Ballots will be locked once the presentation starts</p>
            </center>

            <label for="newname" class="sr-only" >Choose a Name For Your Ballot</label><br>
            <input type='text' name='name' class='newname' placeholder='{{ name }}' value="{{ name }}" required style="color: white; background-color: {% if hasballot %}{{ ballot.kulr }}{% else %}#0000ff{% endif %}"></input><br>

            <input type="hidden" name="user" class="inputfield form-control" value="{{ user }}" maxlength="30" required="" id="id_user">
            <input type="hidden" name="version" value="{{ version }}">
        </div>

        <div class="form-group">
            <label for="inputName" class="sr-only">Choose Your Color</label><br>
            <input type="color" name="kulr" value="{% if hasballot %}{{ ballot.kulr }}{% else %}#0000ff{% endif %}" class="kulr form-control" maxlength="20" required="" id="id_kulr">
            <p style="font-size: 1em; color: #999">(Picking a light color could make your info hard to read!)</p>
        </div>

        <script>
            let dqs = text => document.querySelector(text);
            function getRandomColor() {
                var letters = '0123456789ABCDEF';
                var color = '#';
                for (var i = 0; i < 6; i++) {
                    color += letters[Math.floor(Math.random() * 16)];
                }
                return color;
            }

            {% if not hasballot %}
                let randColor = getRandomColor();

                dqs("#id_kulr").value = randColor;
                dqs("input.newname").style.backgroundColor = randColor;
            {% endif %}

            dqs("#id_kulr").onblur = () => {
                dqs("input.newname").style.backgroundColor = dqs("#id_kulr").value;
            }
        </script>

        {% for c in cats %}

            <div class="form-group">
                <hr style='transform: translate(0px, 33px); z-index: -1; position: relative; width: 80vw; background-color: #B7A261'>
                <label for="comment" class="sr-only" id='{{ c.shortname }}' style='background-color: #222; line-height: 1.2'>{{ c.name }} ({{ c.points }}pts)</label>

                <ul class="radiolist">
                    {% for n in c.nomination_set.all %}
                        <li><label>
                            <input type="radio" name="{{ c.shortname }}" value="{{ n.nominee.name }}" class="horlist1" placeholder="{{ c.shortname }}pik" required id="id_{{ c.shortname }}_{{ forloop.counter0 }}" {% if hasballot %}{% for pick in ballot.pick_set.all %}{% if pick.nomination == n %}checked{% endif %}{% endfor %}{% endif %}>
                            <div>
                                <img width="100%" src="{{ n.nominee.image.url }}">
                                <span>{{ n.nominee.name }}</span><br>
                                {% if c.shortname != 'best_pic' %}
                                    {% if n.url %}
                                        {% autoescape off %}
                                            {{ n.url }}<br>
                                        {% endautoescape %}
                                    {% endif %}
                                    {{ n.subtitle }}
                                {% endif %}<br>
                            </div>
                        </label></li>
                    {% endfor %}
                </ul>
            </div>

        {% endfor %}

        <div class="form-group">
            Hide choices from other players<br><br>
            <label class="switch">
                <input type="checkbox" name="hide_ballot" value="Y" {% if hasballot %}{% if ballot.hidden == True %}checked{% endif %}{% endif %}>
                <span class="slider"></span>
            </label>
        </div>


        <button type="submit" value="Submit" class="submitbutton">Submit Ballot</button><br>
        <center><p>You can edit your ballot after submitting</p>
        <p>Ballots will be locked once the presentation starts</p></center>
    </form>
    <div style="height: 20vmin"></div>

</div> <!-- /container -->

<script>
    function openNav() {
      document.getElementById("side_nav").style.transform = "translate(0%, 0%)";
    }

    function closeNav() {
      document.getElementById("side_nav").style.transform = "translate(-100%, 0%)";
    }
</script>
{% endblock %}