{% extends 'oscarsapp/oscbase.html' %}
{% load static %}

{% block title %}Oscar Scores{% endblock %}

<!-- Custom styles for this template -->
{% block stylelinks %}<link href="{% static 'cecc/oscartheme.css' %}" rel="stylesheet">{% endblock %}

    {% block styles %}
        {% for b in ballots %}
        #idx{{ forloop.counter }} th{
            background-color: {{ b.kulr }};
        }

        #idy{{ forloop.counter }}:hover {
            background-color: {{ b.kulr }};
        }

        #idy{{ forloop.counter }}.active {
            background-color: {{ b.kulr }};
        }

        {% endfor %}

        #blnk {
{% endblock %}

{% block scripts %}
    <style>
        body{
            overflow-x: hidden;
        }
    </style>
    <script>
        function showtable(evt, thname) {
            var i, tables, tabbuttons;

            var diff = true;
            if (document.getElementById(thname).style.right == "0px"){
                diff = false;
            }

            tables = document.getElementsByClassName("otable");
            for (i = 0; i < tables.length; i++) {
                tables[i].style.right = "-76vw";
            }

            tabbuttons = document.getElementsByClassName("buttonrow");
            for (i = 0; i < tabbuttons.length; i++) {
                tabbuttons[i].className = tabbuttons[i].className.replace(" active", "");
            }

            scores = document.getElementsByClassName('scoretext');
            for (i = 0; i < scores.length; i++) {
                    scores[i].style.fontSize = "4vmin";
            }

            document.getElementById('chart').style.width = "76vw";

            if (diff) {
                document.getElementById(thname).style.right = "0px";
                evt.currentTarget.parentNode.parentNode.className += " active";
                document.getElementById('chart').style.width = "0vw";
                scores = document.getElementsByClassName('scoretext');
                for (i = 0; i < scores.length; i++) {
                    scores[i].style.fontSize = "0vmin";
                }

            }

        }
    </script>
{% endblock %}

{% block logout %}logout_user{% endblock %}

{% block content %}
    <div style='position: absolute; width: 100vw; overflow: hidden;height: 89.6vh; white-space: nowrap'>
    <table class='maintable'>
        {% for b in ballots %}
        <tr id='idy{{ forloop.counter }}' class='buttonrow'>
            <td style="font-size: 3.7vmin; width: 4vw; text-align: center">
                {{ b.place }}<span style="font-size: 1.7vmin"
                    >{% if b.place == 1 %}st
                    {% elif b.place == 2 %}nd
                    {% elif b.place == 3 %}rd
                    {% else %}th
                    {% endif %}
                </span>
            </td>
            <td style="text-align: right">
                <div class='buttondiv' onclick='showtable(event, "idx{{ forloop.counter }}")'>
                    <div>
                    {{ b.name }}
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table><table class='maintable' style='width: 76vw;' id="chart">
      {% for b in ballots %}
        <tr>
            <td>
                <div style='width:{{ b.vwidth }}%;
                            position: relative;
                            height: 100%;
                            background-color:{{ b.kulr }}'>
                    <p class='scoretext'>{% if b.skore != 0 %}{{ b.skore }}{% endif %}</p>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>

    {% for b in ballots %}
    <table class='otable' id="idx{{ forloop.counter }}">
        <thead>
            <tr class='toprow'>
                <th>Category</th>
                <th>Choice</th>
                <th>Winner</th>
                <th style='width: 10%'></th>
            </tr>
        </thead>
        <tbody>
            {% for p in b.pick_set.all|dictsort:"nomination.category.order" %}
            <tr>
                <th>{{ p.nomination.category.name }}</th>
                <td>
                    {% if not b.hidden or b.user == user or not wizard.active %}{{ p.nomination.nominee.name }}{% endif %}
                    {% if b.hidden and wizard.active %}<b>SECRET</b>{% endif %}
                </td>
                <td>{{ p.nomination.category.winner.nominee.name }}</td>
                <td>{% if p.nomination == p.nomination.category.winner %}+{{ p.nomination.category.points }}{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}
    <div style='background-color: #222; width: 50vw; height: 89vh; position: absolute; right: -50vw; top: 0px; transition: right 1s'></div>



    </div> <!-- /container -->
{% endblock %}