{% extends 'oscarsapp/oscbase.html' %}
{% load static %}

{% block title %}Oscar Scores{% endblock %}

    <!-- Custom styles for this template -->
    {% block stylelinks %}<link href="{% static 'cecc/oscartheme.css' %}" rel="stylesheet">{% endblock %}

    {% block styles %}
        {% for c in commentz %}
        #idx{{ forloop.counter }} th{
            background-color: {{ c.kulr }};
        }

        #idy{{ forloop.counter }}:hover {
            background-color: {{ c.kulr }};
        }

        #idy{{ forloop.counter }}.active {
            background-color: {{ c.kulr }};
        }

        {% endfor %}

        #blnk {
    {% endblock %}

    {% block scripts %}
    <style>
        body{
            overflow-x: hidden;
        }
    </style>
    <script>
        function showtable(evt, thname) {
            var i, tables, tabbuttons;

            var diff = true;
            if (document.getElementById(thname).style.right == "0px"){
                diff = false;
            }

            tables = document.getElementsByClassName("otable");
            for (i = 0; i < tables.length; i++) {
                tables[i].style.right = "-76vw";
            }

            tabbuttons = document.getElementsByClassName("buttonrow");
            for (i = 0; i < tabbuttons.length; i++) {
                tabbuttons[i].className = tabbuttons[i].className.replace(" active", "");
            }

            scores = document.getElementsByClassName('scoretext');
            for (i = 0; i < scores.length; i++) {
                    scores[i].style.fontSize = "4vmin";
            }

            document.getElementById('chart').style.width = "76vw";

            if (diff) {
                document.getElementById(thname).style.right = "0px";
                evt.currentTarget.parentNode.parentNode.className += " active";
                document.getElementById('chart').style.width = "0vw";
                scores = document.getElementsByClassName('scoretext');
                for (i = 0; i < scores.length; i++) {
                    scores[i].style.fontSize = "0vmin";
                }

            }

        }
    </script>
    {% endblock %}

    {% block logout %}logout_user{% endblock %}

    {% block content %}
    <div style='position: absolute; width: 100vw; overflow: hidden;height: 89.6vh; white-space: nowrap'>
    <table class='maintable'>
        {% for c in commentz %}
        <tr id='idy{{ forloop.counter }}' class='buttonrow'>
            <td style="font-size: 3.7vmin; width: 4vw; text-align: center">
                {{ c.place }}<span style="font-size: 1.7vmin"
                    >{% if c.place == 1 %}st
                    {% elif c.place == 2 %}nd
                    {% elif c.place == 3 %}rd
                    {% else %}th
                    {% endif %}
                </span>
            </td>
            <td style="text-align: right">
                <div class='buttondiv' onclick='showtable(event, "idx{{ forloop.counter }}")'>
                    <div>
                    {{ c.name }}
                    </div>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table><table class='maintable' style='width: 76vw;' id="chart">
      {% for c in commentz %}
        <tr>
            <td>
                <div style='width:{{ c.vwidth }}%;
                            position: relative;
                            height: 100%;
                            background-color:{{ c.kulr }}'>
                    <p class='scoretext'>{% if c.skore != 0 %}{{ c.skore }}{% endif %}</p>
                    </div>
            </td>
        </tr>
        {% endfor %}
    </table>

    {% for c in commentz %}
    <table class='otable' id="idx{{ forloop.counter }}">
        <tr class='toprow'>
            <th>Category</th>
            <th>Choice</th>
            <th>Winner</th>
            <th style='width: 10%'></th>
        </tr><tr>
            <th>Best Picture</th>
            <td>{{ c.bestpicture }}</td>
            <td>{{ winnerz.bestpicture }}</td>
            <td>
            {% if c.bestpicture == winnerz.bestpicture %}+3{% endif %}
            </td>
        </tr><tr>
            <th>Lead Actor</th>
            <td>{{ c.actor }}</td>
            <td>{{ winnerz.actor }}</td>
            <td>
            {% if c.actor == winnerz.actor %}+3{% endif %}
            </td>
        </tr><tr>
            <th>Lead Actress</th>
            <td>{{ c.actress }}</td>
            <td>{{ winnerz.actress }}</td>
            <td>
            {% if c.actress == winnerz.actress %}+3{% endif %}
            </td>
        </tr><tr>
            <th>Supporting Actor</th>
            <td>{{ c.supactor }}</td>
            <td>{{ winnerz.supactor }}</td>
            <td>
            {% if c.supactor == winnerz.supactor %}+2{% endif %}
            </td>
        </tr><tr>
            <th>Supporting Actress</th>
            <td>{{ c.supactress }}</td>
            <td>{{ winnerz.supactress }}</td>
            <td>
            {% if c.supactress == winnerz.supactress %}+2{% endif %}
            </td>
        </tr><tr>
            <th>Animated Feature</th>
            <td>{{ c.animatedfeature }}</td>
            <td>{{ winnerz.animatedfeature }}</td>
            <td>
            {% if c.animatedfeature == winnerz.animatedfeature %}+1{% endif %}
            </td>
        </tr><tr>
            <th>Cinematography</th>
            <td>{{ c.cinematography }}</td>
            <td>{{ winnerz.cinematography }}</td>
            <td>
            {% if c.cinematography == winnerz.cinematography %}+1{% endif %}
            </td>
        </tr><tr>
            <th>Costume Design</th>
            <td>{{ c.costume }}</td>
            <td>{{ winnerz.costume }}</td>
            <td>
            {% if c.costume == winnerz.costume %}+1{% endif %}
            </td>
        </tr><tr>
            <th>Directing</th>
            <td>{{ c.directing }}</td>
            <td>{{ winnerz.directing }}</td>
            <td>
            {% if c.directing == winnerz.directing %}+2{% endif %}
            </td>
        </tr><tr>
            <th>Documentary</th>
            <td>{{ c.documentary }}</td>
            <td>{{ winnerz.documentary }}</td>
            <td>
            {% if c.documentary == winnerz.documentary %}+1{% endif %}
            </td>
        </tr><tr>
            <th>Documentary Short</th>
            <td>{{ c.docshort }}</td>
            <td>{{ winnerz.docshort }}</td>
            <td>
            {% if c.docshort == winnerz.docshort %}+1{% endif %}
            </td>
        </tr><tr>
            <th>Film Editing</th>
            <td>{{ c.fediting }}</td>
            <td>{{ winnerz.fediting }}</td>
            <td>
            {% if c.fediting == winnerz.fediting %}+1{% endif %}
            </td>
        </tr><tr>
            <th>Foreign Language</th>
            <td>{{ c.foreign }}</td>
            <td>{{ winnerz.foreign }}</td>
            <td>
            {% if c.foreign == winnerz.foreign %}+1{% endif %}
            </td>
        </tr><tr>
            <th>Makeup and Hairstyling</th>
            <td>{{ c.makeupandh }}</td>
            <td>{{ winnerz.makeupandh }}</td>
            <td>
            {% if c.makeupandh == winnerz.makeupandh %}+1{% endif %}
            </td>
        </tr><tr>
            <th>Original Score</th>
            <td>{{ c.mscore }}</td>
            <td>{{ winnerz.mscore }}</td>
            <td>
            {% if c.mscore == winnerz.mscore %}+1{% endif %}
            </td>
        </tr><tr>
            <th>Original Song</th>
            <td>{{ c.msong }}</td>
            <td>{{ winnerz.msong }}</td>
            <td>
            {% if c.msong == winnerz.msong %}+1{% endif %}
            </td>
        </tr><tr>
            <th>Production Design</th>
            <td>{{ c.prodesign }}</td>
            <td>{{ winnerz.prodesign }}</td>
            <td>
            {% if c.prodesign == winnerz.prodesign %}+1{% endif %}
            </td>
        </tr><tr>
            <th>Animated Short</th>
            <td>{{ c.animatedshort }}</td>
            <td>{{ winnerz.animatedshort }}</td>
            <td>
            {% if c.animatedshort == winnerz.animatedshort %}+1{% endif %}
            </td>
        </tr><tr>
            <th>Live Action Short</th>
            <td>{{ c.shortfilm }}</td>
            <td>{{ winnerz.shortfilm }}</td>
            <td>
            {% if c.shortfilm == winnerz.shortfilm %}+1{% endif %}
            </td>
        </tr><tr>
            <th>Sound</th>
            <td>{{ c.sound }}</td>
            <td>{{ winnerz.sound }}</td>
            <td>
            {% if c.sound == winnerz.sound %}+1{% endif %}
            </td>
        </tr><tr>
            <th>Visual Effects</th>
            <td>{{ c.visualfx }}</td>
            <td>{{ winnerz.visualfx }}</td>
            <td>
            {% if c.visualfx == winnerz.visualfx %}+1{% endif %}
            </td>
        </tr><tr>
            <th>Adapted Screenplay</th>
            <td>{{ c.writingad }}</td>
            <td>{{ winnerz.writingad }}</td>
            <td>
            {% if c.writingad == winnerz.writingad %}+1{% endif %}
            </td>
        </tr><tr>
            <th>Original Screenplay</th>
            <td>{{ c.writingor }}</td>
            <td>{{ winnerz.writingor }}</td>
            <td>
            {% if c.writingor == winnerz.writingor %}+1{% endif %}
            </td>
        </tr>
    </table>
    {% endfor %}
    <div style='background-color: #222; width: 50vw; height: 89vh; position: absolute; right: -50vw; top: 0px; transition: right 1s'></div>



    </div> <!-- /container -->
    {% endblock %}
