{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="Oscar Website">
    <meta name="author" content="01as">

    <title>{% block title %}Oscar Site{% endblock %}</title>


    <link href="{% static 'cecc/oscartheme.css' %}" rel="stylesheet">

    <style>
    {% block styles %}{% endblock %}
    padding: 1%;
    margin: auto;
    border-bottom: 4px solid #B7A261;
}
    </style>

    {% block scripts %}{% endblock %}
  </head>

  <body>
        <div style='background-color: #282828'>
            <div id='top'>
                <img src="{% static 'ceccimages/poster/OscarsHeader.svg' %}" style="display: block; width: 50%; margin: auto">
            </div>

            {% if logged_in %}
            <a type="button" href="{% url 'logout_user' version %}" style='position: absolute;
                        top: 5px;
                        right: 5px;
                        color: #b7a261;
                        padding: 5px;
                        font-size: min(2.5vw, 25px);
                        text-decoration: underline'>Logout {{ user }}</a>
            {% endif %}

            <table class='nav'>
                <tr>
                    <td class="tab">
                        <a type="button" href="https://01as.pythonanywhere.com/oscars/{{ version }}/chart">
                            <div id='alnk'>Full Chart</div>
                        </a>
                    </td>
                    <td class="tab">
                        <a type="button" href="https://01as.pythonanywhere.com/oscars/{{ version }}/front">
                            <div id='blnk'>Oscar Scores</div>
                        </a>
                    </td>
                    <td class="tab">
                        <a type="button" href="https://01as.pythonanywhere.com/oscars/{{ version }}/loadballot">
                            <div id="clnk">Ballot</div>
                        </a>
                    </td>
                </tr>
            </table>
        </div>

    {% block content %}
    {% endblock %}


  </body>
</html>